

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: conic-gradient(red, yellow, green,  black);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#cards{
    background-image: url("./assets/slam-dunk-jump-splash-basketball-player_9245-134.jpg");
    /* background-image: url(https://images.unsplash.com/photo-1552984418-b55abf780dd4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    min-width: 571px;
    
}
.card{
    width: 230px;
    height: 270px;
    opacity: 0.2;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    
   &:hover{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    scale: 0.9;
   }
    .card-body{
        height: 15%;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0,150,0,0), rgba(0,40,0,1));
        
    }
    .card-title {
        font-size: 1rem;
    }
    .img-container{
        
        height: 85%;
        .card-img-top{
            object-fit: fill;
            height: 100%;
            width: 100%;
           
        }
        
    }
    .card-toogle {
        height: 80%;
        line-height: 1.5rem;
        font-weight: bolder;
        list-style-type: none;
        
    }
}
